*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.containerCa{
    width: 50%;
    height: 100vh;
    background: black;
    z-index: 1000;
}


.containerCa_area{
    width: 115%;
    height: 100vh;
}


.containerCa .containerCa_area .containerCa_area_newsletter #logo{
    margin: 50px 30px;
    max-width: 389px;
    max-height: 94px;
    transition: 0.5s ;
    cursor: pointer;
}


.containerCa .containerCa_area .containerCa_area_newsletter #logo:hover{
    transform: scale(1.1);
}

.containerCa .containerCa_area .containerCa_area_newsletter h2{
    color: #08c05e;
    margin: 0 30px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.15px;
}


.containerCa .containerCa_area .containerCa_area_newsletter p span{
    color: white;
    display: flex;
    margin: 8.56px 0;
    
}

.containerCa .containerCa_area .containerCa_area_newsletter p {
    margin: 0 30px;
    color: #88888d;
    font-size: 14px;
    font-weight: 400;
}

.containerCa .containerCa_area .containerCa_area_newsletter .containerCa_area_newsletter_inputEmail{
    margin: 50px 30px;
    width: 100%;
    height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.containerCa .containerCa_area .containerCa_area_newsletter .containerCa_area_newsletter_inputEmail label{
    font-size: 14px;
    font-weight: 700;
    color:#A8A8A8;
    display: flex;
}

.containerCa_area_newsletter_inputEmail_separador{
    display: flex;
}

.containerCa .containerCa_area .containerCa_area_newsletter .containerCa_area_newsletter_inputEmail .containerCa_area_newsletter_inputEmail_separador  #inputEmail{
    height: 48px;
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    border-left: 5px solid #04d361;
    transition: 0.8s;
}

.containerCa .containerCa_area .containerCa_area_newsletter .containerCa_area_newsletter_inputEmail .containerCa_area_newsletter_inputEmail_separador  #inputEmail:invalid{
    border-left: 5px solid #cc0000;
}

.containerCa_area_newsletter_inputEmail_separador_quadrado{
    width:48px;
    height: 48px;
    background: #8257e5;
    border: none;
    cursor: pointer;
}

.containerCa_area_newsletter_inputEmail .containerCa_area_newsletter_inputEmail_separador .containerCa_area_newsletter_inputEmail_separador_quadrado #iconeSeta{
    position: relative;
    top: 5px;
    max-width: 24px;
    height: 24px;
}

.containerCa .containerCa_link{
    display: flex;
    margin: 0 30px;
}

.containerCa .containerCa_link a{
    text-decoration: none;
    display: flex;
    color:#9570ec ;
}

.containerCa .containerCa_link #iconeLinkSeta{
    margin: 0 5px;
}

body{
    display:flex ; 
    font-family: 'Work Sans', sans-serif;
    
} 

#imgBackground{
    background-image: url(https://julio-2001.github.io/RocketNews//src/assets/img/image.jpg); 
    width: 60%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 0;
    background-position: 75%;
    

    
    
}